/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Arimo', sans-serif;
    color: #33485a;
}

body{
    margin-top: 160px;
}

header {
    z-index: 4;
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
}

.cta.login,
header nav a:hover:not(.cta),
footer a:hover,
footer .social a:hover i {
    color: #f3775b;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 25px;
    font-weight: 600;
}

p {
    line-height: 2em;
}

strong {
    text-transform: uppercase;
}

li {
    list-style: none;
}

.cta-big + div {
    font-size: 12px;
}

/* general menu  */
nav a {
    text-decoration: none;
}

/* menu dropdown  */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    padding: 15px;
}
.dropdown-content li {
    line-height: 2em;
}
/* UTILITIES */
/* layout */
.wrap-container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.col-width-25 {
    width: 25%;
}
.col-width-30 {
    width: 30%;
}
.col-width-35 {
    width: 35%;
}
.col-width-40 {
    width: 40%;
}
.col-width-50 {
    width: 50%;
}
.col-width-60 {
    width: 60%;
}
.col-width-65 {
    width: 65%;
}
.col-width-70 {
    width: 70%;
}

.float-l {
    float: left;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.cta {
    display: inline-block;
    padding: 11px 12px;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: #f3775b ;
    border:1px solid #f3775b;
    border-radius: 5px;
}
.cta-big {
    padding: 22px 41px;
}

/* HEADER CONTENT  */
header nav > ul > li {
    display: inline-block;
}
header nav a {
    color: #32495c;
}

/* top header  */
.top-header {
    line-height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495c;
}

/* font icon planet */
.top-l-nav > ul > li:first-of-type > a::before {
    padding-right: 5px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f7a2";
}

.top-l-nav span {
    margin-right: 25px;
}
.top-header .col-width-70 {
    text-align: right;
}

.top-l-nav > ul > li:not(:first-of-type), 
.top-r-nav > ul > li {
    margin-left: 24px ;
}

/* font icon search */
.top-r-nav ul {
    display: inline-block;
}
.top-r-nav::before {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f002";
    color: #3ea4bd;
}

.cta.login {
    background-color: transparent;
}

/* main header  */
.main-header {
    line-height: 80px;
    background:#fff;
}

.main-nav {
    text-align: right;
}
.main-nav > ul > li {
    margin-left: 23px;
}

/* font icon drop menu top & main nav */
.top-l-nav > ul > li:first-of-type > a::after,
.main-nav > ul > li > a::after {
    padding-left: 16px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f078";
}

.main-header img {
    width: 106px;
    vertical-align: middle;
}

/* widget chat  */
.chat {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 15px;
    z-index: 5;
    text-align: center;
    line-height: 50px;
    background-color: #33485a;
    border-radius: 50%;
}
.chat i {
    font-size: 30px;
    color: #fff;
}

.message {
    display: none;
    width: 150px;
    padding: 15px;
    position: absolute;
    right: 50px;
    bottom: 40px;
    line-height: 1;
}
.chat:hover .message {
    display: block;
}

/* MAIN CONTENT  */
/* hero */
.hero {
    position: relative;
    height: 690px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-position-y: bottom;
}

.bottom-hero {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: #afebe4;
    border-top: 3px  solid #33485a;
    border-bottom: 3px  solid #33485a;
}

.hero .col-width-50 {
    padding-top: 70px;
}

.hero .col-width-50 > * {
    margin-bottom: 38px;
}

.hero .col-width-50 h1 {
    font-size: 52px;
    font-weight: 700;
}

/* main-top section  */
section.main-top {
    background-color: #f4f9fd;
}

.row-cube {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.row-cube img {
    width: 250px;
}

.row-cube h2 {
    margin-bottom: 40px;
}

/* font icon check  */
main .shadow li::before {
    padding-right: 15px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f058";
    color: #f3775b;
}

/* row-crm shadow effect */
.row-crm {
    margin-bottom: 50px;
    padding: 70px 0px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    background-color: #fff;
    border-radius: 5px;
}

.row-crm.shadow .col-width-35 {
    text-align: center;
}
 .row-crm .col-width-35 img { 
     margin-bottom: 23px;
     width: 136px;
}

.row-crm .col-width-65 p {
    margin-bottom: 28px;
    padding-right: 200px;
}

.row-crm hr {
    display: inline-block;
    position: relative;
    bottom: 4px;
    width: 430px;
    margin-left: 58px;
}

.row-crm li {
    display: inline-block;
    margin: 36px 26px 0 0;
}

/* columns */
.columns .col-width-30 {
    margin-bottom: 50px;
    margin-right: calc(10% / 2);
    padding: 20px 35px;
    text-align: center;
}
.columns .col-width-30:nth-child(3) {
    margin-right: 0;
}

.columns > .col-width-30 img {
    height: 98px;
    margin-bottom: 27px;
}
.columns > .col-width-30 p {
    padding-bottom: 72px;
    margin: 42px 0;
    border-bottom: 1px solid #899397 ;
}
.columns .col-width-30 ul {
    margin: 34px 0 50px 0;
    text-align: left;
}

/* section middle main  */
.middle-main {
    margin-bottom: 58px ;
    padding: 56px 0 100px 0;
    text-align: center;
    background-image: linear-gradient(to right, #3fa9ba, #44baa9);
}

.middle-main * {
    color: #fff;
}
.middle-main h2{
    padding: 0 10px;
}
.middle-main p{
    margin: 36px 0 54px 0;
}

/* grid  */
.middle-main .col-width-25 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.middle-main .col-width-25:nth-child(4n + 4) {
    border-right: none;
}
.middle-main .col-width-25:nth-child(1n + 5) {
    border-bottom: none;
}

.grid .col-width-25 div:first-child {
    height: 40px;
    margin: 20px 0;
    line-height: 40px;
}
.grid img {
    vertical-align: middle;
}

.grid .col-width-25 div:nth-child(2) {
    font-size: 31px;
    font-weight: 700;
}

.grid .col-width-25 div:last-child {
    font-size: 11px;
    margin: 24px 0;
}

/* bottom main  */
.bottom-main .our-clients {
    width: 600px;
}

.bottom-main .our-clients li {
    line-height: 60px;
}
.bottom-main .our-clients li img {
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

/* customer counter */
.customer-counter {
    width: 200px;
    margin-left: 75px;
}
.customer-counter div {
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: 700;
}

/* bottom */
.bottom-main > div:nth-of-type(2) {
    position: relative;
    margin-top: 95px;
    padding-bottom: 60px;
}

.bottom-main > div:nth-of-type(2) img {
    position: absolute;
    right: 0;
    width: 320px;
}

.bottom-main > div:nth-of-type(2) p {
    margin: 45px 0;
}

.bottom-main > div:nth-of-type(2) .cta {
    margin-bottom: 46px;
}

/* FOOTER CONTENT  */
footer {
    padding-top: 40px;
    padding-bottom: 44px;
    background-color: #324a5b;
}
footer * {
    color: #dadee0;
}

footer .col-width-25 h4,
footer .col-width-25 li {
    line-height: 2.5em;
}
footer .col-width-25 h4 {
    font-weight: bold;
    color: #fff;
 }

footer .cta {
    color: #324a5b;
    background-color: #dadee0;
    border-color: #dadee0;
}

footer .col-width-25:nth-child(4) li:last-child > ul > li {
    margin-right: 24px ;
}

.middle-footer {
    margin-bottom: 41px;
    padding-bottom: 22px;
    text-align: center;
    border-bottom: 1px solid;
}
.middle-footer li,
.bottom-footer li {
    display: inline-block;
    margin-right: 26px;
}

.bottom-footer .col-width-70 {
    text-align: right;
}